*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  width: 100vw;
  background: rgb(54,52,103);
  background: linear-gradient(180deg, rgba(54,52,103,1) 36%, rgba(70,66,148,1) 90%);
}